body
{
    background-color: rgb(31, 31, 31);
    margin: 0;
    padding: 0;
}


h1
{
    color: white;
    font-family: sans-serif;
}

#search
{
    text-align: center;
    color: white;
    display: table;
    margin: 0 auto;
    padding-top: 200px;
}


#search_box
{
    float: left;
}

#search_box_form_input
{
    position: relative;
    border-radius: 20px;
    height: 14px;
    width: 710px;
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 20px;
    outline: none;
    font-size: 18px;
    font-family: sans-serif;
}


#search_dd
{
    margin-top: 0px;
    margin-left: -5px;
    float: left;
}

.dropbtn {
    outline: none;
    width: 64px;
    height: 63px;
    border-radius: 45%;
    background-color: #303030;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
}

.dropdown_content button {
    outline: none;
    border: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown_content {
    display: none;
    overflow: hidden;
    position: absolute;
    /* background-color: rgb(53, 53, 53); */
    background-color: transparent;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,10);
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dropdown_content button:hover {background-color: rgba(128, 128, 128, 0.1);}

#search_dd:hover .dropdown_content {display: block;}

#search_dd:hover .dropbtn {
    background-color: rgb(77, 77, 77);
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#current-engine
{
    margin-left: 1px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

button img
{
    margin-left: 1px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#astronaut
{
    position: absolute;
    width: 80px;
    top: 400px;
    right: 400px;
}

#settings
{
    position: absolute;
    bottom: 70px;
    left: 30px;
}

#setting_button
{
    height: 35px;
    outline: none;
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 2;
}

#setting_button:hover,
#setting_button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Settings Wheel Image */
#setting_wheel
{
    filter: drop-shadow(4px 3.5px 3px black);
    height: 30px;
    opacity: 0.4;
}

#settings_modal
{
    border-radius: 25px;
    display: none; /* Hidden by default */
    color: white;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 20px;
    bottom: 75px;
    width: 24%; /* Full width */
    height: 50%; /* Full height */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.15); /* Black w/ opacity */
}

#settings-save {
    position: absolute;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    text-decoration: none;
    border: none;
    width: 100%;
    height: 60px;
    bottom: 0;
}

#settings-save:hover {
    background-color: rgb(0, 0, 0, 0.15);
}
  
/* Modal Content/Box */
.modal_content {
    position: relative;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 0px;
    width: 80%; /* Could be more or less, depending on screen size */
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Settings Modal Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

table
{
    width: 100%;
}

th
{
    font-size: 15px;
    text-align: left;
}

tr
{
    padding-bottom: 30px;
}

td
{
    text-align: right;
}