.search
{
    border-radius: 25px;
    text-align: center;
    color: white;
    size: "500";
    padding-top: 13%;
}
h1
{
    color: white;
    font-family: sans-serif;
}
#search_box
{
    border-radius: 20px;
    height: 14px;
    width: 550px;
    background: rgb(53, 53, 53);
    color: white;
    padding: 20px;
    outline: none;
    font-size: 18px;
    font-family: sans-serif;
}