body
{
    background-color: #1f1f1f;
}

.search
{
    text-align: center;
    color: white;
    size: "900";
    margin-top: 180px;
    margin-left: 270px;
    position: relative;
}

h1
{
    color: white;
    font-family: sans-serif;
}

#search_box
{
    position: relative;
    border-radius: 20px;
    height: 14px;
    width: 710px;
    background: rgb(53, 53, 53);
    color: white;
    padding: 20px;
    outline: none;
    font-size: 18px;
    font-family: sans-serif;
}

.search_box_form
{
    float: left;
}

.dropdown
{
    margin-top: 0px;
    margin-left: -5px;
    float: left;
}

.dropbtn {
    outline: none;
    width: 64px;
    height: 63px;
    border-radius: 45%;
    background-color: #303030;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
}

.dropdown-content button {
    outline: none;
    border: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgb(53, 53, 53);
}

.dropdown-content {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none;
    position: absolute;
    background-color: rgb(53, 53, 53);
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,10);
    z-index: 1;
}

.dropdown-content button:hover {background-color: rgb(40, 40, 40);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    background-color: rgb(77, 77, 77);
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#hover_button
{
    margin-left: 1px
}

.dropdown-content button:last-child
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#astronaut
{
    position: absolute;
    width: 80px;
    top: 400px;
    right: 400px;
}

.settings
{
    position: absolute;
    top: 610px;
    left: 30px;
}

#setting_button
{
    height: 35px;
    outline: none;
    position: absolute;
    background-color: transparent;
    color: transparent;
    border: none;
    z-index: 2;
}

#setting_button:hover,
#setting_button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Settings Wheel Image */
#setting_wheel
{
    height: 30px;
    opacity: 0.4;
}

.settings_modal
{
    border-radius: 25px;
    display: none; /* Hidden by default */
    color: white;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 5px;
    top: 41%;
    width: 30%; /* Full width */
    height: 50%; /* Full height */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal_content {
    position: relative;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 0px;
    width: 80%; /* Could be more or less, depending on screen size */
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}